@tailwind base;

@layer base {
  @font-face {
    font-family: vazir;
    font-weight: 600;
    src: url("../utilites/fonts/Vazir-Bold.woff") format("woff"),
      url("../utilites/fonts/Vazir-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: vazir;
    font-weight: 500;
    src: url("../utilites/fonts/Vazir-Medium.woff") format("woff"),
      url("../utilites/fonts/Vazir-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: vazir;
    font-weight: 400;
    src: url("../utilites/fonts/Vazir-Regular.woff") format("woff"),
      url("../utilites/fonts/Vazir-Regular.woff2") format("woff2");
  }
}

@tailwind components;

@layer components {
  .title-color {
    @apply text-gray-700 dark:text-gray-400;
  }

  .border-style {
    @apply border-gray-300;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .custom-transition {
    @apply transition-all duration-300 ease-in;
  }

  .scroll-fixed{
    @apply h-full overflow-hidden
  }
}

@tailwind utilities;

html {
  @apply font-yekan;
}

[x-cloak] {
  display: none !important;
}

.top_swiper_container .top_swiper_next,
.top_swiper_container .top_swiper_prev {
  @apply hidden lg:flex w-8 h-16 rounded-2xl bg-white bg-opacity-50 backdrop-blur-sm border border-gray-300;
}
.top_swiper_container .top_swiper_next {
  @apply -right-3;
}
.top_swiper_container .top_swiper_next::after,
.top_swiper_container .top_swiper_prev::after {
  @apply text-lg text-gray-700 font-bold;
}
.top_swiper_container .top_swiper_prev {
  @apply -left-3;
}
.places_to_visit_container .places_to_visit{
  @apply py-4;
}
.places_to_visit_container .places_to_visit .swiper-wrapper .swiper-slide{
  @apply w-80
}